img{
    margin-left: 77%;
    margin-top: -16.5%;
    width: 145px;
}
.header{
    padding: 5%;
    background-color: #A1FFCE;
    color: black;
}
.resume{
    display: flex;
}
.left-container{
    flex-basis: 60%;
    background-color: white;
    color: black; 
    padding: 5%;   
}
.right-container{
    flex-basis: 40%; 
    background-color: #A1FFCE;
    color: black;
    padding: 5%;
    
}
.container{
    width: 210mm;
    height: 297mm;
    margin-left: 30%;
}
